<section id="aside-icons">
<span class="fa-stack fa-lg">
  <a href="mailto:jhamrick@berkeley.edu">
    <i class="fa fa-circle fa-stack-2x "></i>
    <i class="fa fa-envelope fa-stack-1x fa-inverse "></i>
  </a>
</span>
<span class="fa-stack fa-lg">
  <a href="http://twitter.com/#!/jhamrick">
    <i class="fa fa-circle fa-stack-2x "></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse "></i>
  </a>
</span>
<span class="fa-stack fa-lg">
  <a href="https://alpha.app.net/jhamrick">
    <i class="fa fa-adn fa-stack-2x"></i>
  </a>
</span>
<span class="fa-stack fa-lg">
  <a href="https://github.com/jhamrick">
    <i class="fa fa-github fa-stack-2x"></i>
  </a>
</span>
<span class="fa-stack fa-lg">
  <a href="http://www.linkedin.com/pub/jess-hamrick/11/b08/4ba/">
    <i class="fa fa-circle fa-stack-2x "></i>
    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
  </a>
</span>
</section>
