<section id="aside-icons">
<span class="icon-stack icon-large">
  <a href="mailto:jhamrick@berkeley.edu">
    <i class="icon-circle icon-stack-base "></i>
    <i class="icon-envelope icon-light "></i>
  </a>
</span>
<span class="icon-stack icon-large">
  <a href="http://twitter.com/#!/jhamrick">
    <i class="icon-circle icon-stack-base "></i>
    <i class="icon-twitter icon-light "></i>
  </a>
</span>
<span class="icon-stack icon-large">
  <a href="https://alpha.app.net/jhamrick">
    <i class="icon-adn icon-stack-base"></i>
  </a>
</span>
<span class="icon-stack icon-large">
  <a href="https://github.com/jhamrick">
    <i class="icon-github icon-stack-base"></i>
  </a>
</span>
<span class="icon-stack icon-large">
  <a href="http://www.linkedin.com/pub/jess-hamrick/11/b08/4ba/">
    <i class="icon-circle icon-stack-base "></i>
    <i class="icon-linkedin icon-light"></i>
  </a>
</span>
</section>
