<section id="aside-icons">
<span class="fa-stack fa-lg">
  <a href="mailto:jessica.b.hamrick@gmail.com">
    <i class="fa fa-circle fa-stack-2x "></i>
    <i class="fa fa-envelope fa-stack-1x fa-inverse "></i>
  </a>
</span>
<span class="fa-stack fa-lg">
  <a href="http://twitter.com/jhamrick">
    <i class="fa fa-circle fa-stack-2x "></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse "></i>
  </a>
</span>
<span class="fa-stack fa-lg">
  <a href="https://github.com/jhamrick">
    <i class="fa fa-github fa-stack-2x"></i>
  </a>
</span>
</section>
