.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets
vendor
node_modules
source/publications/abstracts/human-stability-perception-implies-sophisticated-knowledge-of-physical-dynamics/
source/publications/abstracts/internal-physics-models-guide-probabilistic-judgments-about-object-dynamics/
source/publications/abstracts/intuitive-mechanics-in-visual-reasoning-about-complex-scenes-with-unknown-forces/
source/publications/abstracts/physical-reasoning-in-complex-scenes-is-sensitive-to-mass/
source/publications/abstracts/physics-knowledge-aids-object-perception-in-dynamic-scenes/
Gemfile.lock
