p, .rendered_html p {
    margin: 1em 0;
}

body, div, .reveal div, .rendered_html div {
    font-family: Gill Sans Light;
}

h1, h2, h3, h4, .rendered_html h1, .rendered_html h2, .rendered_html h3, .rendered_html h4 {
    font-weight: normal;
    margin: 0.5em 0;
    text-shadow: none;
}

h1, .rendered_html h1  { 
    font-family: Gill Sans;
    font-size: 2.5em;
}

h2, h3, h4, .rendered_html h2, .rendered_html h3, .rendered_html h4 {
    font-family: Gill Sans Light;
}

h2, .rendered_html h2 { font-size: 2em; }
h3, .rendered_html h3 { font-size: 1.5em; }
h4, .rendered_html h4 { font-size: 1.25em; }

em, .rendered_html em {
    font-family: Gill Sans Light;
    font-style: italic;
}
strong, .rendered_html strong {
    font-family: Gill Sans;
    font-weight: normal;
}
strong > em, em > strong, .rendered_html strong > em, .rendered_html em > strong {
    font-family: Gill Sans;
    font-weight: normal;
    font-style: italic;
}

img, .rendered_html img {
    max-width: 100%;
    max-height: 75%;
}

.rendered_html > ol, .rendered_html > ul {
    margin: 0 1.5em;
}

p.caption {
    font-size: 0.8em !important;
}

.towers > div { display: inline; }
.towers.ry > div > img, .towers.ry > img { height: 200px; }
.towers.original > div > img, .towers.original > img { height: 300px; }

#people-can > ul {
    list-style: none;
    padding: 0;
    margin: 0 1em;
}
#people-can > ul > li {
    text-indent: -0.7em;
    font-size: 1.25em;
    margin: 0.5em 0;
}
#people-can > ul > li:before { content: "✓   "; }
#people-can > ul > li > ol {
    text-indent: 0em;
    font-size: 0.75em;
}

#trial-structure > ol > li { line-height: 2em; }
#trial-structure > ol > li > ul { line-height: 1em; }
#trial-structure > .towers { margin-top: 1em; }

.results > img {
    width: 600px;
}

#soldier {
    height: 600px;
}

