// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* *******************************
   * Overrides base/_layout.scss *
   ******************************* */

body {
    font-size: 1em;
    > header {
	margin-bottom: .7em;
    }
}

aside.sidebar {
    section {
        font-size: 0.9em;
    }
}

/* ***********************************
   * Overrides base/_typography.scss *
   *********************************** */

ul, ol { &, ul, ol { margin-left: 2.5em; }}

article blockquote {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    p {
	margin-bottom: 0;
    }
}

/* *********************************
   * Overrides partials/_blog.scss *
   ********************************* */

article {
    header {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 1em;
	p {
	    &.meta {
		position: relative;
		padding-top: 1em;
	    }
	}
    }
}

/* ***************************************
   * Overrides partials/_navigation.scss *
   *************************************** */

body > nav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
    margin-bottom: 0;

    @media only screen and (min-width: 550px) {
	font-size: 1.2em;
	li + li {
	    border-left: none;
	    a {
		border-left: none;
	    }
	}
    }
}

/* *****************************************
   * Overrides partials/sidebar/_base.scss *
   ***************************************** */

aside.sidebar {
    section {
	margin-bottom: 2em;
    }
    li {
	padding-left: 0.5em;
    }
}


/* *********************
   * Table of contents *
   ********************* */

@import "plugins/toc";

$toc-bg: #dfdfdf;
$toc-incr: 5px;

div#tocBlock {
    @include drop-shadow-right-bottom(5px, #999);
    @include rounded-border(10px);
    float: right;
    font-size: 10pt;
    width: 300px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;

    background: $toc-bg;
    border: solid 1px #999999;
    margin: 0 0 10px 15px;

    .tocHeading {
        font-weight: bold;
        font-size: 125%;
    }

    #toc {
        background: $toc-bg;
        ul {
            list-style: disc;
            li {
                margin-left: $toc-incr !important;
                padding: 0 !important;
            }
        }
    }
}

/* ********************
   * App.net Timeline *
   ******************** */

@import 'plugins/adn-timeline';

// Include the layout and theme mixins
.adn-timeline {
  @include adn-timeline-layout;
  @include adn-timeline-theme;
}
