// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "mixins";

/* *******************************
   * Overrides base/_layout.scss *
   ******************************* */

body {
    font-size: .8em;
    > header {
	margin-bottom: .7em;
    }
}

/* ***********************************
   * Overrides base/_typography.scss *
   *********************************** */

ul, ol { &, ul, ol { margin-left: 2.5em; }}

article blockquote {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    p {
	margin-bottom: 0;
    }
}

/* *********************************
   * Overrides partials/_blog.scss *
   ********************************* */

article {
    header {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 1em;
	p {
	    &.meta {
		position: relative;
		padding-top: 1em;
	    }
	}
    }
}

/* ***************************************
   * Overrides partials/_navigation.scss *
   *************************************** */

body > nav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
    margin-bottom: 0;

    @media only screen and (min-width: 550px) {
	font-size: 1.25em;
	li + li {
	    border-left: none;
	    a {
		border-left: none;
	    }
	}
    }
}

/* *****************************************
   * Overrides partials/sidebar/_base.scss *
   ***************************************** */

aside.sidebar {
    section {
	margin-bottom: 2em;
    }
    li {
	padding-left: 0.5em;
    }
}
