// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* *******************************
   * Overrides base/_layout.scss *
   ******************************* */

body {
    font-size: 1em;
    > header {
	margin-bottom: .7em;
    }
}

/* ***********************************
   * Overrides base/_typography.scss *
   *********************************** */

ul, ol { &, ul, ol { margin-left: 2.5em; }}

article blockquote {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    p {
	margin-bottom: 0;
    }
}

/* *********************************
   * Overrides partials/_blog.scss *
   ********************************* */

article {
    header {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 1em;
	p {
	    &.meta {
		position: relative;
		padding-top: 1em;
	    }
	}
    }

    div.entry-content {
	li > ol {
	    margin-top: 1.5em;
	    margin-bottom: 1.5em;
	}
	li > ul {
	    margin-top: 1.5em;
	    margin-bottom: 1.5em;
	}
    }

    article li { padding-bottom: 0.3em; }
    article hr { margin-bottom: 1.5em; }
}

/* ***************************************
   * Overrides partials/_navigation.scss *
   *************************************** */

body > nav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
    margin-bottom: 0;

    @media only screen and (min-width: 550px) {
	font-size: 1.2em;
	li + li {
	    border-left: none;
	    a {
		border-left: none;
	    }
	}
    }

    a {
	@include transition(color .2s);
    }
}

/* *****************************************
   * Overrides partials/sidebar/_base.scss *
   ***************************************** */

aside.sidebar {
    a {
	color: inherit;
	@include transition(color .2s);
    }
    &:hover a {
        color: $sidebar-color;
        &:hover { color: $sidebar-link-color-hover; }
    }
    section {
	margin-bottom: 2em;
        font-size: 0.9em;
	h1 {
            margin-top: 0;
	}
    }
    li {
	padding: 0.2em 0 0.2em 0;
        border-bottom: none;
        box-shadow: none;
	-webkit-box-shadow: none;
        &.post {
	    margin-left: 1.42857em;
        }
    }
}

@media only screen and (min-width: 768px) {
    .collapse-sidebar {
	aside.sidebar.thirds section {
	    margin-top: 2em;
	}
    }
}

/* **************************************
   * Overrides included gist stylesheet *
   ************************************** */

.gist .gist-file {
    .highlight {
	width: 100%;
    }
    .gist-data .line-pre {
        font-size: 13px;
    }
}

/* ***************
   * Icons aside *
   *************** */

#aside-icons {
    text-align: center;
    white-space: nowrap;
    font-size: 1.1em;
    a, span {
        text-decoration: none;
        white-space: nowrap;
    }
}

img.external {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

table.dataframe {
    border: 1px solid;
    margin-bottom: 1.5em;
    background-color: white;

    tr, th, td {
        border: 1px solid;
        margin: 1em 2em;
        padding: 0.25em 0.5em;
    }
}